In [1]:
import pandas as pd

In [2]:
dt=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data')

In [3]:
dt.columns=list('abcdefghij')+['class']

In [4]:
dt.dropna().shape,dt.shape

((698, 11), (698, 11))

In [5]:
dt['g'].unique()

array(['10', '2', '4', '1', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

In [6]:
dt=dt.replace('?',15)

In [7]:
dt['g']=dt['g'].astype(dtype='i')

In [8]:
dt.dtypes

a        int64
b        int64
c        int64
d        int64
e        int64
f        int64
g        int32
h        int64
i        int64
j        int64
class    int64
dtype: object

In [9]:
x=dt.drop(['a','class'],axis=1)
y=dt['class']
x.head(10)

   b   c   d  e  f   g  h  i  j
0  5   4   4  5  7  10  3  2  1
1  3   1   1  1  2   2  3  1  1
2  6   8   8  1  3   4  3  7  1
3  4   1   1  3  2   1  3  1  1
4  8  10  10  8  7  10  9  7  1
5  1   1   1  1  2  10  3  1  1
6  2   1   2  1  2   1  3  1  1
7  2   1   1  1  2   1  1  1  5
8  4   2   1  1  2   1  2  1  1
9  1   1   1  1  1   1  3  1  1

In [10]:
from sklearn.model_selection import train_test_split
x_tr,x_ts,y_tr,y_ts=train_test_split(x,y,test_size=0.2)
x_tr.shape,y_tr.shape,x_ts.shape,y_ts.shape

((558, 9), (558,), (140, 9), (140,))

In [14]:
from sklearn.neighbors import KNeighborsClassifier
algo=KNeighborsClassifier()
algo.fit(x_tr,y_tr)
#algo.predict([[1033078,4,2,1,1,2,1,2,1,1]])
#algo.score([[1033078,4,2,1,1,2,1,2,1,1]],[2])
print(algo.score(x_ts,y_ts)*100,'%')

97.14285714285714 %

In [12]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_ts,algo.predict(x_ts))

array([[90,  0],
       [ 4, 46]], dtype=int64)

In [13]:
dt.corr()

,a,b,c,d,e,f,g,h,i,j,class
a,1.000000,-0.055276,-0.041735,-0.041717,-0.065003,-0.045630,-0.112090,-0.060082,-0.052188,-0.034961,-0.080378
b,-0.055276,1.000000,0.645366,0.655089,0.486699,0.522108,0.506320,0.558511,0.536176,0.350176,0.716509
c,-0.041735,0.645366,1.000000,0.906814,0.705397,0.751674,0.604823,0.755824,0.722699,0.458548,0.817772
d,-0.041717,0.655089,0.906814,1.000000,0.682871,0.719524,0.633090,0.736066,0.719272,0.438756,0.818794
e,-0.065003,0.486699,0.705397,0.682871,1.000000,0.599402,0.577305,0.666759,0.603132,0.417476,0.696605
f,-0.045630,0.522108,0.751674,0.719524,0.599402,1.000000,0.501429,0.616108,0.628704,0.478975,0.682618
g,-0.112090,0.506320,0.604823,0.633090,0.577305,0.501429,1.000000,0.601893,0.518505,0.283016,0.706209
h,-0.060082,0.558511,0.755824,0.736066,0.666759,0.616108,0.601893,1.000000,0.665914,0.344118,0.756732
i,-0.052188,0.536176,0.722699,0.719272,0.603132,0.628704,0.518505,0.665914,1.000000,0.428185,0.712067
j,-0.034961,0.350176,0.458548,0.438756,0.417476,0.478975,0.283016,0.344118,0.428185,1.000000,0.423008
class,-0.080378,0.716509,0.817772,0.818794,0.696605,0.682618,0.706209,0.756732,0.712067,0.423008,1.000000